[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = morochena
	email = marcus@orochena.net
[push]
	autoSetupRemote = true
